.search{
    position: relative;
    display: flex;
    height: 40px;
    width: 350px;
    justify-content: space-between;
}
.search_Search{
    color: #000000;
    position: absolute;
    height: 20px;
    top: 25%;
    left: 0.75rem;
}
.search input{
    width: 398px;
    border-radius: 1rem;
    padding-left: 2.75rem;
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}