.page{
    height: 1300px;
}
.basket{
    max-width: 632px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 84px 0;
}

.basket img{

    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}
.basket h1{

    font-family: Geologica;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
   
    
}

.basket h2{

        font-family: Geologica;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}







