

.cats{
    display: flex;
    gap:1;  
    padding: 4px ;
    padding-left: auto;
    padding-right: auto;
}

.cats form{
    font-family: Geologica;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}