
.popover{
    max-width: 300px;
}

.popover b{
    font-family: Geologica;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

}


.popoverContent{
    width: 1650px;
    background: #FDFDFD;
}
.popoverContent li{
    font-family: Geologica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
