/*.footer {
  background-color: #1a1a1a;
 
  padding: 15px;

  display: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.links li:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (min-width: 1024px) {
  .footer {
    display: block;
  }
}
*/

.footer{
  background: #0E0909;
  height: 235px;
}

.line{
 
  height: 0.99px;
  border: 1px solid #858FA4;
  margin-left: auto;
  margin-right: auto;
}


.container{
  max-width: 1200px;
  display: block;
}


.ulfooter{
  display: flex;
  color: #0e090900;
  justify-content: center; 
}
.ulfooter li{
  display: flex;
  padding: 30px;
  font-family: Geologica;
  font-size: 16px;
  font-weight: 800;


}

.downfotter{
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}



.fitZone{
  width: 261px;
  height: 95px;
}
.fitZone p {
  color: #A4A4A4;
  padding-top: 24px;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.fitZone img {
  max-width: 216 px;
  max-height:51px;
}



.footer_logo_and_nav{
  display: block;
}


.social_network{
  text-align: right;
}
.links ul{
  display: flex;
  
}
.links h2{
  padding-left: 15px;
  color: #A4A4A4;
  padding-top: 15px;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
}
.lasth2{
  padding-right: 0;
}